<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SwiftFit</title>

  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <h1>Développement de SwiftFit</h1>

  <main id="camera">
    {# Camera view #}
    <video id="camera--view" autoplay playsinline></video>
  
    {# Camera sensor #}
    <canvas id="camera--sensor"></canvas>
  
    {# Camera output #}
    <img src="//:0" alt="" id="camera--output">
  
    {# Camera trigger #}
    <button id="camera--trigger"></button>
  </main>

  <div class="error"></div>

  <script src="/static/js/app.js"></script>
</body>
</html>