html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera, #camera--view, #camera--sensor, #camera--output{
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
  transform: scaleX(-1);
  filter: FlipH;
}

#camera--trigger{
  width: 100px;
  height: 100px;
  position: relative;
  background: transparent;
  border: none;
  position: fixed;
  bottom: 30px;
  left: calc(50% - 50px);
}

#camera--trigger::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  border: .525em solid #fff;
}

#camera--trigger::after {
  content: '';
  position: absolute;
  top: 12%;
  left: 12%;
  right: 12%;
  bottom: 12%;
  background: transparent;
  border-radius: 100%;
}

#camera--trigger:active::after {
  background: #fff;
}

.taken{
  height: 100px!important;
  width: 100px!important;
  transition: all 0.5s ease-in;
  border: solid 3px white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  top: 20px;
  right: 20px;
  z-index: 2;
}